
<h2>Games List:</h2>


<ul>
    
<% @games.each do |game| %>
  <p>
    <li>
        <%= game.title %> - <%= game.text %>
        <%# link_to 'Play', select_difficulty_path(:game_id => game.id) %>
    </li>
  </p>
 
<% end %>

</ul>
