


<h2>Adding a new game</h2>

<div>

    <p>This app supports games that are played using a deck of cards from which you take one card at a time. That deck can be made up of a random number of cards from one or more specified decks, and you can add multiple difficulty modes which use different numbers of cards from each deck.
    </p>
    
    <p>You can only add a new game if logged in, and only you (or an admin) can delete games you added.</p>
    
    <h4>What the fields mean when adding a new game</h4>
    <p></p>
    <h5>Game</h5>
    <ul>
        <li>
            Title - what the game/mode is called
        </li>
        <li>
            Text - more info about the game/creator
        </li>
        <li>
            Number of Cards - not used at the moment. Plan is for it to select a subset of this many cards from the generated deck after selecting cards from each sub deck.
        </li>
        <li>
            Loop - Is the game over after you have dealt each card? Or do you reshuffle the discard pile and keep playing?
        </li>
    </ul>   
    
    <h5>Deck</h5>
    <ul>
        <li>
            Has a set of cards
        </li>
    </ul>  
    
    <h5>Difficulty Mode</h5>
    <ul>
        <li>
            Has a set of "deck selections"
        </li>
    </ul>    
    
    <h5>Deck Selection</h5>
    <ul>
        <li>
            Has a number of cards to pick from a specified deck
        </li>
    </ul>

</div>
