<h1>List of Games</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Added By</th>
    <th></th>
  </tr>
 
  <% @games.each do |game| %>
    <tr>
      <td><%= game.title %></td>
      <td><%= game.text %></td>
      <td><%= game.user.display_name %></td>
      <td><%= link_to 'Show', game_path(game) %></td>
    </tr>
  <% end %>
</table>