/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body { margin: 0; }

nav {
    margin-bottom: 20px;
}

footer { margin-top: 100px; }
table, td, th { 
    vertical-align: middle; 
    border: none; 
}
th { 
    text-transform: uppercase;
    color: #4A4A4A;
    background: #eee;
    empty-cells: hide;
}
th, td {
    padding: 10px;
}
tr:nth-child(odd) {background: #fafafa;}
tr:nth-child(even) {background: #FFF;}

tr:hover {
    background: #eee
}
td {
    color: dimgray;
}

.td-link {
//  display: none;
  text-transform: uppercase;
}
tr:hover .td-link {
//  display: table-cell;
}

.game-title-td {
//    font-weight: bolder;
    font-size: 120%;
}

.game-text-td {
    font-size: small;
}

.number-of-cards-column {
    text-align: right;
}

#play-container {
    text-align: center;
    padding: 5px;
}

#play-container div {
    padding: 5px;
}

.content-container > * {
    padding: 10px;
}

.navbar {
  min-height: 38px;
  background-color: #f55e55;
}

.navbar a.brand { 
    font-size: 18px; 
}

.navbar a.brand:hover {
 color: #fff;
 background-color: transparent;
 text-decoration: none;
}

.container a:hover {
  color: #f55e55;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0);
}

.container input[type="submit"] {
  height: 30px;
  font-size: 13px;
  background-color: #f55e55;
  border: none;
  color: #fff;
}