<h3>Select Difficulty for <%= @game.title %></h3>

<% @game.difficulty_modes.each do |difficulty_mode| %>
  <p>
      <%= difficulty_mode.name %> - <%= link_to 'Select', game_select_difficulty_play_index_path(:game_id => @game.id, :select_difficulty_id => difficulty_mode.id) %>
  </p>
 
<% end %>